---
title: Jason Tsay
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include includes.html %}
        <title>Jason Tsay</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/jquery.fullPage.css">
        <script type="text/javascript" src="js/jquery.easings.min.js"></script>
        <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
        <script src="js/index.js"></script>
    </head>

    <body>
        <div id="fullpage">
            <div id="profilesection" class="section" data-anchor="profile">
                <div class="sidebar">
                </div>
                <h1 id="name" class="offset"> Jason Tsay </h1>
                <h3 id="email" class="offset">jtt<a href="http://www.google.com/recaptcha/mailhide/d?k=01f1EnTmGoE9mi37OKJxVNqw==&amp;c=dPlxcgu_gS7R-gdjjroB3Q==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501f1EnTmGoE9mi37OKJxVNqw\75\75\46c\75dPlxcgu_gS7R-gdjjroB3Q\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@jsntsay.com</h3>
                <ul id="vmenu">
                    <li class="selected" id="profilebutton">Profile</li>
                    <li id="workbutton"> Work </li>
                    <li id="resumebutton"> Resume </li>
                    <li id="pubbutton"> Publications </li>
                </ul>
                <ul id="sociallinks">
                    <li><a href="https://twitter.com/jsntsay"><img src="img/twitter.png" class="icon"></a></li>
                    <li><a href="https://github.com/jsntsay"><img src="img/github.png" class="icon"></a></li>
                    <li><a href="http://www.linkedin.com/pub/jason-tsay/17/0/122"><img src="img/linkedin.png" class="icon"></a></li>
                    <li><a href="https://plus.google.com/101105323702916978865"><img src="img/googleplus.jpg" class="icon"></a></li>
                    <li><a href="https://www.facebook.com/jsntsay"><img src="img/fb.png" class="icon"></a></li>
                </ul>
                <div class="sidebox">
                    <div class="avatar">
                        <img src="img/avatar.jpg" id="avatar" class="img-responsive" alt="Jason Tsay">
                    </div>
                    <div class="infobox">
                        
                        <p>I'm Jason Tsay, a Software Engineering PhD student at Carnegie Mellon University. My research focuses on how software developers use social and technical information in their environment to inform their development decisions.
                    </div>
                </div>
            </div>
            <div id="worksection" class="section" data-anchor="work">
                {% include navbar.html %}
                {% include work.html %}
            </div>
            <div id="resumesection" class="section" data-anchor="resume">
                {% include navbar.html %}
                <br>
                <a href="resume/resume.pdf"><h2>Resume</h2></a>
                <br>
                Currently I am not looking for full-time employment but am open to internships.
            </div>
            <div id="pubsection" class="section" data-anchor="publications">
                {% include navbar.html %}
                {% include pubs.html %}
            </div>
        </div>
    </body>
</html>
