<div class="navbar navbar-inverse  navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav nav-justified">
            <li class="profilenav"><a href="../../index.html#profile">Profile</a></li>
            <li class="worknav"><a href="../../index.html#work">Work</a></li>
            <li class="resumenav"><a href="../../index.html##resume">Resume</a></li>
            <li class="pubsnav"><a href="../../index.html#publications">Publications</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
