<h1> Publications </h1>
<br>

<ul id="publist">
    <li> Tsay, J., Dabbish, L. and Herbsleb, J. 2014. <a href="work/FSE2014/index.html"><b>Let’s Talk About It: Evaluating Contributions through Discussion in GitHub</b></a>. Proceedings of the 22nd ACM SIGSOFT International Symposium on Foundations of Software Engineering (2014) </li><a href="publications/tsay-fse2014.pdf">(pdf)</a>
    <li> Tsay, J., Dabbish, L. and Herbsleb, J. 2014. <b>Influence of Social and Technical Factors for Evaluating Contribution in GitHub</b>. Proceedings of the 36th International Conference on Software Engineering  <a href="publications/tsay-icse2014.pdf">(pdf)</a></li>
    <li> Tsay, J., Dabbish, L. and Herbsleb, J.D. 2013. <b>Social media in transparent work environments</b>. Cooperative and Human Aspects of Software Engineering (CHASE), 2013 6th International Workshop on (2013) <a href="publications/tsay-chase2013.pdf">(pdf)</a></li>
    <li> Dabbish, L., Stuart, C., Tsay, J. and Herbsleb, J. 2013. <b>Leveraging Transparency </b>. Software, IEEE. 30, 1 (2013), 37–43. <a href="publications/dabbish-ieee2013.pdf">(pdf)</a></li>
    <li> Dabbish, L., Stuart, C., Tsay, J. and Herbsleb, J. 2012. <b>Social coding in GitHub: transparency and collaboration in an open software repository</b>. Proceedings of the ACM 2012 conference on Computer Supported Cooperative Work <a href="publications/dabbish-cscw2012.pdf">(pdf)</a></li>
</ul>

<br>
