---
title: Publication List
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include includeslv2.html %}
        <title>Publications List</title>
        <link rel="stylesheet" href="css/publications.css">
        <link rel="stylesheet" href="css/jquery.fullPage.css">
        <script type="text/javascript" src="js/jquery.easings.min.js"></script>
        <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
    </head>

    <body>
        {% include navbar_abs.html %}
    </body>
</html>
